@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acesso negado";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Você não tem acesso a esse recurso.</p>
</header>
