@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Esqueceu a senha de confirmação";
}

<h2>@ViewData["Title"]</h2>
<p>
    Por favor, verifique seu email para resetar sua senha.
</p>
