@page
@model RegisterModel
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Registrar";
    var activetedRole = SignInManager.IsSignedIn(User);

}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Criar uma nova conta.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Name"></label>
                <input asp-for="Input.Name" class="form-control" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Date"></label>
                <input asp-for="Input.Date" class="form-control" />
                <span asp-validation-for="Input.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Occupation"></label>
                <input asp-for="Input.Occupation" class="form-control" />
                <span asp-validation-for="Input.Occupation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            @if (activetedRole)
            {
                <div class="form-group">
                    <label asp-for="Input.Role" class="control-label"></label>
                    <select asp-for="Input.Role" asp-items="ViewBag.Roles" class="form-control">
                        <option value="@null">-- Selecione --</option>
                    </select>
                    <span asp-validation-for="Input.Role" class="text-danger"></span>
                </div>
            }
            else { <input asp-for="Input.Role" type="hidden" /> }
                
            <div class="form-group">
                <label asp-for="InputPassword.Password"></label>
                <input asp-for="InputPassword.Password" class="form-control" />
                <span asp-validation-for="InputPassword.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InputPassword.ConfirmPassword"></label>
                <input asp-for="InputPassword.ConfirmPassword" class="form-control" />
                <span asp-validation-for="InputPassword.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Registrar</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
