@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmação de nova senha gerada";
}

<h2>@ViewData["Title"]</h2>
<p>
    Sua senha foi renovada. Por favor <a asp-page="./Login">click aqui para fazer o log in</a>.
</p>
